name: Start speculos instance
on:
  workflow_call:
    inputs:
      coin_app:
        description: Coin application to run
        required: true
        type: string
      coin_app_version:
        description: The version of the coin application
        required: true
        type: string
      device:
        description: The device to emulate (nanox, nanos, nanos+, flex, stax)
        required: true
        type: string
      device_os_version:
        description: The version of the device OS
        required: true
        type: string
      additional_args:
        description: Additional arguments for speculos
        required: false
        type: string
      run_id:
        description: Unique ID for the workflow run
        required: false
        type: string
        default: ${{ github.run_id }}
      speculos_version:
        description: Speculos image tag
        required: true
        type: string
    outputs:
      run_id:
        description: Unique ID for the workflow run
        value: ${{ jobs.start-speculos.outputs.run_id }}
      speculos_url:
        description: URL of the speculos instance
        value: ${{ jobs.start-speculos.outputs.speculos_url }}
  workflow_dispatch:
    inputs:
      coin_app:
        description: Coin application to run
        required: true
        type: string
      coin_app_version:
        description: The version of the coin application
        required: true
        type: string
      device:
        description: The device to emulate (nanox, nanos, nanos+, flex, stax)
        required: true
        type: string
      device_os_version:
        description: The version of the device OS
        required: true
        type: string
      additional_args:
        description: Additional arguments for speculos
        required: false
        type: string
      run_id:
        description: Unique ID for the workflow run
        required: false
        type: string
      speculos_version:
        description: Speculos image tag
        required: true
        type: string

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-1

jobs:
  start-speculos:
    runs-on: speculos
    outputs:
      speculos_url: ${{ steps.set-outputs.outputs.speculos_url }}
      run_id: ${{ steps.set-outputs.outputs.run_id }}
    steps:
      - name: Set run ID
        shell: bash
        run: |
          if [[ -z "${{ inputs.run_id }}" ]]; then
            echo "RUN_ID=${{ github.run_id }}" >> $GITHUB_ENV
            echo "RUN_ID=${{ github.run_id }}" >> $GITHUB_OUTPUT
          else
            echo "RUN_ID=${{ inputs.run_id }}" >> $GITHUB_ENV
            echo "RUN_ID=${{ inputs.run_id }}" >> $GITHUB_OUTPUT
          fi
      - name: Prepare additional args
        if: ${{ inputs.additional_args != '' }}
        shell: bash
        run: |
          {
            echo 'ADDITIONAL_ARGS<<EOF'
            echo ${{ inputs.additional_args }} | sed 's/^\(.*\)/"\1",/' | sed 's/ /",\n"/g'
            echo EOF
          } >> $GITHUB_ENV
      - name: Set valid device name
        shell: bash
        run: |
          if [[ ${{ inputs.device}} == 'nanos+' ]]; then
            echo "DEVICE=nanosp" >> $GITHUB_ENV
          else
            echo "DEVICE=${{ inputs.device }}" >> $GITHUB_ENV
          fi
      - name: Correct coin app name
        shell: bash
        run: |
          echo "COIN_APP=$( echo ${{ inputs.coin_app }} | sed 's/ //g')" >> $GITHUB_ENV
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.SPECULOS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}
          role-duration-seconds: 21600
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name ${{ secrets.SPECULOS_CLUSTER }} --region ${{ env.AWS_REGION }}
      - name: Run Speculos
        shell: bash
        run: |
          kubectl -n speculos run speculos-${{ env.RUN_ID }} --image=ghcr.io/ledgerhq/speculos:${{ inputs.speculos_version }} --restart=Never --overrides="$(cat <<EOF
          {
            "apiVersion": "v1",
            "metadata": {
              "labels": {
                "run-id": "${{ env.RUN_ID }}"
              }
            },
            "spec": {
              "volumes": [
                {
                  "name": "coin-apps",
                  "emptyDir": {}
                }
              ],
              "initContainers": [
                {
                  "name": "init-coin-apps",
                  "image": "bash:5.2.37",
                  "command": [
                    "bash"
                  ],
                  "args": [
                    "-c",
                    "wget -q --header \"Authorization: token \$GITHUB_TOKEN\" --header 'Accept: application/vnd.github.v3.raw' https://api.github.com/repos/ledgerHQ/infra-tools/contents/scripts/speculos/init-coin-apps.sh?ref=main -O /dev/stdout | bash"
                  ],
                  "env": [
                    {
                      "name": "GITHUB_TOKEN",
                      "valueFrom": {
                        "secretKeyRef": {
                          "name": "github-auth",
                          "key": "GITHUB_TOKEN"
                        }
                      }
                    },
                    {
                      "name": "ADDITIONAL_ARGS",
                      "value": "${{ inputs.additional_args }}"
                    },
                    {
                      "name": "DEVICE",
                      "value": "${{ inputs.device }}"
                    },
                    {
                      "name": "DEVICE_OS_VERSION",
                      "value": "${{ inputs.device_os_version }}"
                    },
                    {
                      "name": "COIN_APP",
                      "value": "${{ env.COIN_APP }}"
                    },
                    {
                      "name": "COIN_APP_VERSION",
                      "value": "${{ inputs.coin_app_version }}"
                    }
                  ],
                  "volumeMounts": [
                    {
                      "name": "coin-apps",
                      "mountPath": "/apps"
                    }
                  ]
                }
              ],
              "containers": [
                {
                  "name": "speculos",
                  "image": "ghcr.io/ledgerhq/speculos:${{ inputs.speculos_version }}",
                  "args": [
                    "/apps/${{ inputs.device }}/${{ inputs.device_os_version }}/${{ env.COIN_APP }}/app_${{ inputs.coin_app_version }}.elf",
                    ${{ env.ADDITIONAL_ARGS }}
                    "--model",
                    "${{ env.DEVICE }}",
                    "--display",
                    "headless",
                    "--seed",
                    "${{ secrets.SPECULOS_SEED }}"
                  ],
                  "env": [
                    {
                      "name": "SPECULOS_APPNAME",
                      "value": "${{ inputs.coin_app }}:${{ inputs.coin_app_version }}"
                    }
                  ],
                  "ports": [
                    {
                      "containerPort": 5000,
                      "name": "http"
                    }
                  ],
                  "volumeMounts": [
                    {
                      "name": "coin-apps",
                      "mountPath": "/apps"
                    }
                  ]
                }
              ],
              "terminationGracePeriodSeconds": 0
            }
          }
          EOF
          )"
      - name: Create service
        shell: bash
        run: |
          kubectl -n speculos expose pod/speculos-${{ env.RUN_ID }} --type=ClusterIP --port=5000 --target-port=http --name=speculos-${{ env.RUN_ID }} --selector="run-id=${{ env.RUN_ID }}"
      - name: Create ingress
        shell: bash
        run: |
          kubectl -n speculos create ingress speculos-${{ env.RUN_ID }} --class="trusted" --rule="${{ env.RUN_ID }}.speculos.aws.stg.ldg-tech.com/=speculos-${{ env.RUN_ID }}:5000" --dry-run=client -o yaml | kubectl label --local -f - run-id=${{ env.RUN_ID }} -o yaml | sed 's/pathType: .*/pathType: ImplementationSpecific/' | kubectl apply -f -
      - name: Wait for speculos to become available
        shell: bash
        env:
          retry: 0
        run: |
          kubectl -n speculos wait --for=condition=Ready --timeout=60s pods/speculos-${{ env.RUN_ID }}
          for (( i=0; i<20; i++ )); do
            if [[ $(curl -s -o /dev/null -w "%{http_code}\n" https://${{ env.RUN_ID }}.speculos.aws.stg.ldg-tech.com) -eq 200 ]]; then
              echo "Speculos is available"
              break
            fi
            echo "Attempt $((i+1)) failed"
            sleep 3
          done
        #  while ([[ $(curl -s -o /dev/null -w "%{http_code}\n" https://${{ env.RUN_ID }}.speculos.aws.stg.ldg-tech.com) -ne 200 ]] && [[ $retry -lt 20 ]]); do echo "Attempt $((retry+1)) failed"; ((retry++)); sleep 3; done
        #  while ! (curl -skI https://${{ env.RUN_ID }}.speculos.aws.stg.ldg-tech.com | grep '^HTTP/2 200') && [ $retry -lt 20 ]; do echo "Attempt $((retry+1)) failed."; sleep 3; ((retry++)); done
      - name: Set outputs
        id: set-outputs
        shell: bash
        run: |
          kubectl -n speculos logs -l run-id=${{ env.RUN_ID }} -c speculos
          echo "speculos_url=https://${{ env.RUN_ID }}.speculos.aws.stg.ldg-tech.com" >> $GITHUB_OUTPUT
      - name: Clean up
        if: ${{ failure() || cancelled()}}
        shell: bash
        run: |
          kubectl -n speculos delete pod,ingress,service -l run-id="${{ env.RUN_ID }}" --ignore-not-found=true
