
name: Stop speculos instance
on:
  workflow_call:
    inputs:
      aws_region:
        description: AWS region
        required: false
        type: string
        default: eu-west-1
      run_id:
        description: RUN ID for the workflow run
        required: true
        type: string
  workflow_dispatch:
    inputs:
      aws_region:
        description: AWS region
        required: false
        type: string
        default: eu-west-1
      run_id:
        description: RUN ID for the workflow run
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  stop-speculos:
    runs-on: speculos
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.SPECULOS_ROLE }}
          aws-region: ${{ inputs.aws_region }}
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name ${{ secrets.SPECULOS_CLUSTER }} --region ${{ inputs.aws_region }}
      - name: Cleanup resources
        shell: bash
        run: |
          kubectl -n speculos delete po,svc,ing,secret -l run-id=${{ inputs.run_id }} --force --grace-period 0 --ignore-not-found=true
